<div class="panel panel-success">
	<div class="panel-heading">
		Upcoming Events
	</div>
	<div class="panel-body">
    
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            
          </div>
          <div class="panel-body">
            <p class="lead">
               <br/>
              <small>
                
              </small>
            </p>      
            <p>
              <small class="text-info">
                
              </small>
            </p>
          </div>  
        </div>
      </div>
    
	</div>
</div>