<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index'}}<a href="" class="navbar-brand">Meetup App</a>{{/link-to}}
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          {{#link-to 'events.new'}}Create New Event{{/link-to}}
        </li>
      </ul>

    </div>
  </div>
</div>
